.wp-block-gutenkit-click-to-tweet {
	margin: 0 0 1.8em;

	.gutenkit--click-to-tweet {
		position: relative;
		border: 1px solid #ddd;
		padding: 24px 26px 22px;

		@media (min-width: 700px) {
			padding: 34px 36px 32px;
		}

		&,
		&__link {
			border-radius: 6px;
		}

		&__text {
			font-size: 22px;
			line-height: 1.4;
			margin: 0 !important;
			padding: 0 !important;
		}

		&__label {
			color: #767676;
			font-size: 15px;
			display: block;
			margin: .95em 0 0 0 !important;
			padding: 0 !important;

			&::before {
				position: relative;
				height: 1.5em;
				width: 1.5em;
				background-size: cover;
				position: relative;
				top: .25em;
				margin-right: .3em;
				content: '';
				display: inline-block;
				background-color: currentcolor;
				mask-image: url(images/twitter.svg);
			}
		}

		&__link {
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			padding: 0 !important;
			box-shadow: none !important;
			border: none !important;
			text-decoration: none !important;
		}
	}
}
